@model MikroCrm.UI.ViewModel.ReportModel.Customer.ReportCustomerSearchViewModel
@{
    ViewBag.Title = "Customer";
}

<div class="page-content-wrap">
    @using (Ajax.BeginForm("Customer", "Report", FormMethod.Post, new AjaxOptions { OnSuccess = "ajaxcustomerreportsuccess", OnBegin = "showPage()", OnComplete = "offPage()", OnFailure = "offPage()" }))
    {
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Arama
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Cari Kod</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                @Html.TextBoxFor(x => x.CariKod, new { @class = "form-control" })
                                                <span onclick="customerSelect()" class="input-group-addon"><span class="fa fa-plus-square"></span></span>
                                            </div>
                                            <span class="help-block">@Html.ValidationMessageFor(x => x.CariKod)</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Cari Unvan</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.TextBoxFor(x => x.CariUnvan, new { @class = "form-control" })
                                            </div>
                                            <span class="help-block">@Html.ValidationMessageFor(x => x.CariUnvan)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">İlk Tarih</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(x => x.startDate, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker" })
                                            </div>
                                            <span class="help-block">@Html.ValidationMessageFor(x => x.startDate)</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Son Tarih</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                @Html.TextBoxFor(x => x.endDate, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker" })
                                            </div>
                                            <span class="help-block">@Html.ValidationMessageFor(x => x.endDate)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <a href="javascript:mailsendpopup()" class="btn btn-default">Mail gönder</a>
                            <button type="submit" class="pull-right btn btn-info">Ara</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading ui-draggable-handle">
                    <h3 class="panel-title">Musteri hareket listesi</h3>
                    <ul class="panel-controls">

                        <li>

                        </li>
                    </ul>
                </div>


                <div class="panel-body panel-body-table tab-content">

                    <div class="table-responsive">
                        <div id="reportcustomerList">
                            @Html.Partial("_reportcustomerlist", Model)
                        </div>
                    </div>


                </div>

                <div class="panel-footer">

                </div>

            </div>



        </div>
    </div>
</div>

@Html.Partial("_mailsendPopup")

@Html.Action("CustomerList", "Catalog")


@section scripts{
    <script>
        function customerSelect() {
            $('#customerPopup').modal('show');
        }
    </script>

    <script>
        function customerselect(id) {

            console.log(id);

            if (id>0) {
                var carikod = $("#carikod_"+ id).attr("data-id");

                var cariuncan = $("#cariunvan_" + id).attr("data-id");
                console.log(carikod);
                console.log(cariuncan);
                if (carikod.length > 0) {
                    $("#CariKod").val(carikod);

                    $("#CariUnvan").val(cariuncan);
                    $('#customerPopup').modal('hide');
                }
            }
        }
    </script>

    <script>
    function mailsendpopup() {
        $("#mailsendpopup").modal("show");
    }
    </script>

    <script>
        function showPage() {
            console.log("show");
            document.getElementById("loader").style.display = "block";

        }
        function offPage() {
            console.log("off");
            document.getElementById("loader").style.display = "none";

        }
    </script>
    <script>
        function ajaxcustomerreportsuccess(result) {

            $("#reportcustomerList").html(result);
        }
    </script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

}


